// Application Colors
$color-primary = #00D082
$color-primary-darken = #00AE6D
$color-grey-dark = #737C84
$color-grey-semi-light = #C9D3DD
$color-grey-light = #F3F6F8
$color-white = #FFFFFF

// Action Colors
$color-error = #DD0055
$color-success = #00D082

// Gradients
$gradient-grey = #737C84
$gradient-grey-start-ie = #99737c84
$gradient-grey-end-ie = #00737c84

// Font
$font-family-primary = 'Helvetica', 'Arial', sans-serif

// Layers
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// Breakpoints
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 959px
$screen-md-min = 960px
$screen-md-max = 1440px
$screen-lg-min = 1441px

// Paths
$path-images = '../../src/img'
