@require '_variables'
@require '_mixins'

.alert
  padding 20px
  border-width 1px
  border-style solid
  border-radius(5px)
  &.alert-error
    background-color alpha($color-error, 0.2)
    color $color-error
  &.alert-success
    background-color alpha($color-success, 0.2)
    color $color-success
